header {
  background-color: #cfb0d6ee;
  padding: 2px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
header h1 {
  color: #897497;
  border: 4px solid #897497f1;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 36px;
  font-family: cursive;
  font-weight: lighter;
}
.banner {
  position: relative;
}
.banner {
  max-width: 100%;
}
.banner .Front {
  background: #cfb0d6ee;
  color: #897497;
  padding: 5px;
  font-size: 25px;
  position: absolute;
  left: 6%;
  top: 55%;
}
.banner .Front span {
  font-size: 1.6em;
  font-family: cursive;
  font-style: italic;
  font-weight: lighter;
}
main h3 {
  font-size: 1.5em;
  color: #be69b3;
  font-weight: bold;
  font-family: cursive;
  text-align: center;
}
main p {
  font-size: 1.2em;
  white-space: wrap;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
nav {
  background: #ecc9af;
  padding: 20px;
  position: sticky;
  top: 80px;
  z-index: 1;
}
nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
nav li {
  width: 30%;
  display: inline-block;
  font-size: 30px;
}
nav li a {
  text-decoration: none;
  color: #ad7a53;
}
nav li a:hover {
  text-decoration: underline;
}
.cards {
  display: inline-block;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.5rem;
  flex-wrap: wrap;
  padding: 4rem;
  font-size: 1.2em;
}

.card {
  width: 250px;
  height: 350px;
  perspective: 800px;
  border-style: none;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
}

.card-front {
  background-color: #cfb0d6;
  color: #9cb7dd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-back {
  background-color: #b89cbe;
  color: #624768;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  background: #cfb0d6;
  color: #815d99;
  font-size: 1.1em;
  font-family: cursive;
  padding: 5px;
  text-align: center;
}
footer a {
  color: #7b4c9b;
}
