header {
  background-color: #cfb0d6ee;
  padding: 2px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
header h1 {
  color: #897497;
  border: 4px solid #897497f1;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 36px;
  font-family: cursive;
  font-weight: lighter;
}
.banner {
  position: relative;
}
.banner {
  max-width: 100%;
}
.banner .Front {
  background: #cfb0d6ee;
  color: #897497;
  padding: 5px;
  font-size: 25px;
  position: absolute;
  left: 6%;
  top: 55%;
}
.banner .Front span {
  font-size: 1.6em;
  font-family: cursive;
  font-style: italic;
  font-weight: lighter;
}
nav {
  background: #ecc9af;
  padding: 20px;
  position: sticky;
  top: 80px;
  z-index: 1;
}
nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
nav li {
  width: 30%;
  display: inline-block;
  font-size: 30px;
}
nav li a {
  text-decoration: none;
  color: #ad7a53;
}
nav li a:hover {
  text-decoration: underline;
}
footer {
  background: #cfb0d6;
  color: #815d99;
  font-size: 1.1em;
  font-family: cursive;
  padding: 5px;
  text-align: center;
}
footer a {
  color: #7b4c9b;
}
